.about-paragraph {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    padding-bottom: 6rem;
    padding-left: 6rem;
    padding-right: 6rem;
    border-radius: 20px;
    color: #F2E4C8;
    background-color: #70268A;
    font-size: 18px;
    text-align: center;
}

.about-h1, .profile-h2 {
    margin-top: -5rem;
}

.video {
  text-align: center;
}

.overview-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media screen and (max-width: 480px) {
  .about-paragraph {
      width: 80%; /* Adjust the width for smaller screens */
      margin: 10px auto; /* Center the container */
      left: 0; /* Reset left positioning */  
      padding: 1rem;
  }

 
}