.about-h1 {
  font-size: 30px;
  margin-top: 0; 
  font-weight: bold;
  color: #F2E4C8;
  text-shadow: 2px 2px 0 #70268A, -2px -2px 0 #70268A, 2px -2px 0 #70268A, -2px 2px 0 #70268A;
  
}



.about-h2 {
  font-size: 15px;
  margin-bottom: 1rem; 
  color: rgb(82, 0, 100);
}

.about-paragraph {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  padding-bottom: 6rem;
  padding-left: 6rem;
  padding-right: 6rem;
  border-radius: 20px;
  color: #F2E4C8;
  background-color: #70268A;
  font-size: 18px;
  text-align: center;
}

.mission-statement,
.team-info,
.about-us {
  margin-top: 2rem; 
}

.mission-statement b,
.team-info b,
.about-us b {
  font-weight: bold;
}

.mission-statement p,
.team-info p,
.about-us p {
  margin-bottom: 1rem; 
}

.col-lg-6.overview-img-container {
  margin-top: 2rem; 
}

.overview-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.footer {
  margin-top: 2rem; 
}

@media screen and (max-width: 480px) {
  .about-paragraph {
      width: 80%;
      margin: 1rem auto;
      padding: 1rem;
  }

  .about-h1{
    font-size: 15px;
      margin-top: 0;
      font-weight: bold;
  }
  .about-h2 {
    font-size: 5px;
      margin-top: 0;
      
  }

  .mission-statement,
  .team-info,
  .about-us {
      margin-top: 1rem; 
  }

  .overview-img-container {
      margin-top: 1rem; 
  }

  .overview-img {
      max-width: 100%;
      height: auto;
  }
}