footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #F2E4C8;
    z-index: 1000; /* Set a higher z-index for the navbar */
}

footer p {
    padding-left: 20px;
    color: #70268A;
}

.container {
  text-align: center; /* Center the content horizontally */
}

h1 {
  font-size: 42px; /* Adjust font size */
  font-weight: bold;
  margin-top: 0; 
  margin-bottom: 10px; /* Adjust the space below the heading */
  text-align: center;
}

text {
  font-family: 'Poppins', sans-serif;
  font-size: 28px; /* Adjust font size */
  margin-top: 5px; /* Adjust the space above the text */
  margin-bottom: 5px;
  text-align: center;
}


h1, h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.main-wrapper {
  position: relative;
}

.map-and-wrapper {
  display: flex;
  flex-direction: column; /* To place the elements on the sides */
}

.map-container {
  width: 350px;
  height: 300px;
  margin-top: 10px;
  position: relative; /* Add position relative for positioning */
  left: 20px; /* Adjust to move the map-container further to the right */
}

.wrapper {
  position: absolute;
  top: 50px; /* Adjust vertical positioning */
  right: 40px;
}

.accordion {
    margin-bottom: 20px;
    margin-left: 20px; /* Adjust the left spacing when expanded */
}

.item {
    background: #70268A;
    color: white;
    padding: 5px 15px; /* Adjust the padding */
    margin-right: 5px; /* Adjust the right margin between items */
    border-radius: 30px;
}

.title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filter-title {
    font-weight: 400 !important;
    font-size: 28px;
    margin-bottom: 5px; /* Adjust the space below the title */
}

.title span {
    transform: scale(2); /* Fixed 'scale' property */
    margin-left: 300px; /* Increase the margin to move the span more to the right */
    margin-top: 10px; /* Adjust the space below the title */
}

  .content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
  }
 
  .content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
  }
 
  input {
    align-items: center;
  }
 
  input.checkboxes {
    margin-right: 10px !important;
    margin-left: 15px !important;
    margin-bottom: 7px !important;
    transform: scale(1.5);
  }
 
  .feature-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 10px;
  }
 
  .feature-label {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 5px;
  }
 
  .checkboxes {
    margin-right: 10px;
  }

  @media screen and (max-width: 480px) {
    .map-container {
      width: 80%; /* Adjust the width for smaller screens */
      margin: 10px auto; /* Center the map container */
      left: 0; /* Reset left positioning */
    }
  
    /* Example of making the .wrapper more responsive */
    .wrapper {
      position: static; /* Change positioning for smaller screens */
      margin-top: 20px; /* Adjust margin for smaller screens */
      right: 0; /* Reset right positioning */
    }
  
    /* Move .accordion below .map-container */
    .accordion {
      margin-top: 80px; /* Adjust margin for smaller screens */
      margin-left: 20px; /* Adjust left margin */
    }
  
    .item {
      padding: 5px 10px; /* Adjust padding for items */
      margin-right: 3px; /* Adjust right margin between items */
    }
  
    .title span {
      margin-left: 120px; /* Adjust the margin for smaller screens */
      margin-top: 5px; /* Adjust the space below the title */
      transform: scale(1); /* Adjust the scaling */
    }
  }

  


  