.about-paragraph {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    padding-bottom: 6rem;
    padding-left: 6rem;
    padding-right: 6rem;
    border-radius: 20px;
    color: white;
    background-color: #008f95;
    font-size: 18px;
    text-align: center;
}

.about-h2, .profile-h2 {
    margin-top: -5rem;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #e3e3e3;
}

footer p {
    padding-left: 20px;
    color: #a8a8a8;
}

/* STYLE CSS */
* {
    box-sizing: border-box;
}

/* Navbar CSS */
body {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 16px;
}

main {
    padding-bottom: 40px;
}

/* title headings and paragraphs */
h1, h2 {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 300;
    margin-top: 6rem;
    margin-bottom: 6rem;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    padding-top: 4rem;
}
X
main > h2:nth-child(2) {
    padding-top: 6rem;
}

h2, p {
    margin-top: 1rem;
}

/* nav bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #008f95;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1.3rem;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover, nav a:focus, nav a:active {
    color: white;
    border-bottom: solid #f0f0f0 .2rem;
    transition: all .20s ease-out
}

nav p {
    color: white;
    word-spacing: 20px;
    text-align: right;
    padding-right: 2rem;
}

nav ul {
    margin: 0;
    padding: 0;
}
